<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a *ngIf="user" class="navbar-brand">Welcome {{user.name.first}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngFor="let page of pages"><a (click)="pageClick(page)">{{page.name}}</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <img *ngIf="user" src="{{user.picture.thumbnail}}" class="img-thumbnail">
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
