<div class="navbar-fixed">
  <nav class="light-blue">
    <div class="nav-wrapper">
      <a *ngIf="user" href="#!" class="brand-logo">Welcome {{user.name.first}}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngFor="let page of pages"><a [routerLink]="[page.url]">{{page.name}}</a></li>
        <li>
          <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li><a [routerLink]="['/user-manager']">User manager</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!" (click)="logout()">Logout</a></li>
          </ul>
          <div class="dropdown-trigger" data-target="dropdown2">
            <img *ngIf="user" class="circle" src="{{user.picture.thumbnail}}" width="48" alt="avatar">
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li *ngFor="let page of pages"><a [routerLink]="[page.url]">{{page.name}}</a></li>
  <li class="divider"></li>
  <li><a (click)="logout()">Logout</a></li>
</ul>
<router-outlet></router-outlet>
