<div class="container">
  <div class="row equal-height-grid">
    <div class="col 19 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Jane Doe</span>
          <p>Currently Online</p>
        </div>

        <div class="divider"></div>

        <div class="card-content">
          <div id="message_div" class="chat-wrapper">
            <div *ngFor="let message of messages" class="chat-message {{getMessageColor(message)}} {{getMessagePosition(message)}} {{!message.isConsecutive?'':'coalesce'}}">
              <img *ngIf="!message.isConsecutive" class="circle" src="{{message.pic}}" alt="avatar">
              {{message.message}}
            </div>
          </div>
        </div>

        <div class="chat-input">
          <form action="">
            <div class="chat-input-bar">
              <textarea id="textarea1" name="textarea1" class="materialize-textarea" style="height: 72px;" (keyup.enter)="onClick()" [(ngModel)]="newMessageText"></textarea>
              <button type="submit" (click)="onClick()">
                <i class="material-icons">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
