<div class="container">

  <div id="showChatButton" class="center">
    <a (click)="onShowChatsClick()" class="waves-effect waves-teal btn-flat "><i class="material-icons">dehaze</i></a>
  </div>

  <div id="chats" *ngIf="showChats">
    <div class="chip" (click)="onNewChatClick()">
      <img src="https://firebasestorage.googleapis.com/v0/b/mean-angular.appspot.com/o/add_circle_outline.png?alt=media&token=2f18715c-26c4-43f2-a7bf-8021d3b27d0e" alt="Contact Person">
      new
    </div>
    <div *ngFor="let chatItem of chatItems" class="chip" (click)="onChatClick(chatItem)">
      <img [src]="getChatDetails(chatItem).image" alt="Contact Person">
      {{getChatDetails(chatItem).name}}
    </div>
  </div>

</div>

